.search-bar-results {
  @apply bg-white border-t border-t-toolight-border-gray-light border-b border-b-toolight-border-gray-light transition rounded-b-lg;
  z-index: -5;
  top: 0;
}

.search-items {
  @apply overflow-y-scroll transition;
}

.search-bar__wrapper {
  @apply w-full flex gap-2 items-center py-2;
}

.search-items__item {
  @apply px-2 border-b border-toolight-border-gray-light hover:bg-toolight-primary-hover-light transition;
}

.search-items__item:last-child {
  @apply border-0;
}

.search-items__image-bg {
  @apply bg-white h-20 w-20 aspect-square rounded;
  .search-items__image {
    @apply h-full w-full object-contain;
  }

  @media screen and (max-width: 768px) {
    @apply h-16 w-16;
  }
  @media screen and (min-width: 320px) {
    @apply h-12 w-12;
  }
}

.search-items__title {
  @apply pl-4;
  font-size: 1.3rem;
  @media screen and (max-width: 1024px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 768px) {
    @apply pl-2;
    font-size: 1rem;
  }
  @media screen and (min-width: 320px) {
    @apply pl-1;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
