.product-tile {
	@apply bg-white font-supreme flex flex-col overflow-hidden border border-toolight-border-gray-light cursor-pointer transition;
	margin: -1px;
}

.product-tile__thumbnail {
	@apply flex justify-center items-center overflow-hidden;
	height: 350px;
}

.product-tile__image {
	@apply aspect-square object-contain object-center block p-2 absolute;
	width: 350px;
	height: 350px;
	transition: 0.3s;
}

.product-tile__image--second {
	@apply absolute;
}

.product-tile__details {
	@apply p-4 flex flex-col justify-between text-toolight-paragraph;
	height: 175px;
}

.description__tags {
	@apply flex justify-between items-center w-full;
}

.description__category {
	@apply text-xs font-medium font-supreme uppercase mb-2 py-1 px-3 bg-toolight-primary block rounded-full;
}

.description__new {
	@apply text-sm font-medium font-supreme text-toolight-primary uppercase mb-2 block ;
}

.description__title {
	@apply uppercase text-base font-medium;
}

.details__ids-prices {
	@apply flex justify-between font-supreme text-xs;
}

.ids__ean, .ids__sku, .prices__gross, .prices__net {
	@apply flex items-center;
}

.ids__ean strong, .ids__sku strong, .prices__net strong, .prices__gross strong {
	@apply font-bold pr-1;
}

