.product {
  @apply pb-10;
}

.product-body {
  @apply flex flex-row gap-4 flex-none w-full md:w-auto;
}

.product__gallery {
  @apply flex h-[500px] w-full rounded-lg justify-center overflow-hidden items-center border border-toolight-border-gray-light/50 shadow;

  img {
    max-height: 500px;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
}

.product-description {
  grid-column: 2/4;
  @media screen and (max-width: 1024px) {
    @apply pb-4;
  }
}

.product-description__title {
  @apply text-2xl;
}

.prices {
  @apply inline-flex flex-row gap-4;
}

.price-label {
  @apply text-toolight-primary-hover-dark font-semibold text-sm uppercase;
}

.price-value {
  @apply font-bold text-2xl;
}
