.product-tile {
  @apply font-supreme flex flex-col gap-6;
}

.product-tile__thumbnail {
  @apply flex justify-center flex-none items-center overflow-hidden relative border border-toolight-border-gray-light/25 shadow rounded-lg;
  height: 350px;
}

.product-tile__image {
  @apply aspect-square object-contain object-center block absolute;
  transition: 0.3s;
}

.product-tile__image--second {
  @apply absolute rounded;
}

.product-tile__details {
  @apply inline-flex flex-col text-toolight-paragraph gap-1;
}

.description__tags {
  @apply flex justify-between items-center w-full;
}

.description__category {
  @apply text-toolight-secondary/75;
}

.description__new {
  @apply inline-flex px-3 py-1 rounded-full text-sm font-medium font-supreme bg-toolight-primary;
}

.description__title {
  @apply uppercase font-bold;
}

.details__ids-prices {
  @apply flex flex-row justify-between gap-4;
}

.prices {
  @apply inline-flex flex-row gap-4;
}

.price-label {
  @apply text-toolight-secondary/75 font-semibold text-[0.625rem] uppercase;
}

.price-value {
  @apply font-bold text-base;
}

.ids__ean,
.ids__sku,
.prices__gross,
.prices__net {
  @apply flex items-center text-xs;
}

.ids__ean strong,
.ids__sku strong,
.prices__net strong,
.prices__gross strong {
  @apply font-bold pr-1;
}
