.product {
	@apply py-10 gap-10;
	display: grid;
	grid-template-columns: 750px 250px 1fr;
}

.label {
	height: 500px;
}

.product__gallery {
	@apply flex justify-center overflow-hidden items-center border border-toolight-border-gray-light;
	width: 750px;
	height: 500px;
	
	img {
		max-height: 500px;
		object-fit: contain;
		aspect-ratio: 1/1;
	}
}

.title {
	@apply text-3xl pt-8;
}

.breadcrumbs {
	@apply text-sm text-toolight-tertiary;
}

.desc {
	@apply py-8;
}
