.navbar__menu {
	@apply h-full justify-self-center;
	@media screen and (max-width: 1024px) {
		display: none;
	}
	grid-column: 2/3;
}

.menu-container {
	@apply h-full px-4;
}

.menu {
	@apply flex items-center h-full;
}

.menu-item {
	@apply h-full z-10;
	&__link {
		@apply flex justify-center items-center text-xs  h-full px-4 uppercase hover:text-toolight-primary transition;

	}

	.menu-hover &__link:active {
		background-color: rgba(241, 194, 27, 0.25);
	}
}

.menu-hover {
	@apply absolute block pointer-events-none bg-toolight-primary;
	z-index: 0;
	bottom: 0;
	//background-color: rgba(241, 194, 27, 0.35);
	
	&:active {
		@apply bg-toolight-primary-active
	}
}
